body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #ffffff, #ffa600); /* Gradient background */
}

.app {
  max-width: 375px; /* Width suitable for iPhone 11 display */
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden; /* Ensure rounded corners are visible */
  background-color: #8400ffa1;
}

header,
footer {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to right, #ff6b6b, #6b6b6b); /* Gradient header and footer */
  color: #fff;
}

section {
  margin-top: 20px;
}

.carousel {
  border-radius: 10px;
  overflow: hidden;
}

.carousel img {
  width: 100%;
  border-radius: 10px;
}

.typist {
  color: #ff0303; 
}

footer {
  margin-top: 20px;
  background: linear-gradient(to right, #ff0101, #067ece); 
}
.carousel-container {
  max-width: 800px;
  margin: 0 auto;
}

.carousel .slider-wrapper {
  overflow: hidden;
}

.carousel .slider {
  display: flex;
}

.carousel .slider .slide {
  flex: 0 0 auto;
  width: 100%;
}

.carousel .carousel-status {
  display: none; /* Hide the status indicator */
}

